* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Ensure padding and borders do not extend beyond the elememt*/
}

html, body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Source Sans Pro'; /* Name your font family */
    src: url(/source-sans-pro/SourceSansPro-Regular.otf); /* Locate the .ttf file within your directory*/
  }

.backg {
    background-image: url(/images/Object.png);
    background-size: cover;
    background-position: center center;
    width: 100%;
}

header {
    padding: 20px 20px 10px 100px;
}

nav {
    display: flex;
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

nav.logo {
    width: 0px;
    height: auto;
}

ul {
    display: flex;
    list-style-type: none;
    text-align: end;
    padding-left: 0;
    gap: 60px;
}

ul.li {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-right: 300px;
}

ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0;
}

h1 {
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 120px;
    font-weight: bold;
    color: #FFFFFF;
    /*margin-bottom: 70px;*/
    margin-top: 100px;
    position: relative;
    top: 0px;
    left: 0px;
}

.span {
    display: block;
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 50px;
    left: 0px;
}

.span-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 50px;
}

button {
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #C271FF;
    width: 162px;
    height: 44px;
    border-radius: 22px;
    border: none;
    /*padding: 13px 22px;*/
    margin-top: 0px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: -20px;
    left: 0%;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 1);
    box-shadow: 4px 4px 8px rgba(0.3, 0.3, 0.3, 0.3);
}

button:hover {
    background-color: #642992;
    transform: scale(1.05);
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    font-family: 'Source Sans Pro' sans-serif;
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 32px;
    text-align: center;
    margin-top: 13%;
    margin-left: 4%;
}

.highlight {
    color: #C271FF;
    font-weight: bold;
    font-size: 32px;
}

.profiles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4%;
    margin-left: 13%;
    width: 1009px;
    /*height: 237px;*/
}

.profile {
    /*flex: 1 1 1 25%;*/
    margin: 2%;
    width: 170px;
    height: 237px;
    font-family: 'Source Sans Pro' sans-serif;
    color: #FFFFFF;
    font-size: 18px;
   
}

.profile > p {
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}

.profile > .radius {
    border-radius: 50%;
}

.profile > h3 {
    text-align: center;
}

hr {
    border: none;border-top: 1px solid #020202;
    border-radius: 0.1px;
    margin-top: 0;
    padding: 0;
}

.qoutes {
    display: flex;
    background-color: #C271FF;
    font-family: 'Source Sans Pro' sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    justify-content: space-between;
    padding: 10% 10% 10% 15%;
    align-items: center;
}

blockquote {
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 22px;
    color: #FFFFFF;
    font-weight: normal;
    text-align: left;
}

.tutorials > h2 {
    color: #071629;
    padding-top: 0%;
    margin-top: 5%;
    margin-left: 5%;
    text-align: center;
}

.tutorials > div {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 10%;
    padding-right: 5%;
}

.video-cont {
    /*flex: 1 1 1 25%;*/
    margin: 2%;
    width: 100%;
    width: 22%;
    max-width: 100vw;
}

.video-cont > h3 {
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 10px;
}

.video-cont > p {
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #071629;
    margin-top: 3%;
    margin-bottom: 5%;
    padding-left: 10px;
}

.tutor {
    display: flex;
    justify-content: flex-start;
    margin-left: 3%;
    margin-top: 2%;
}

.tutor > img {
    width: 30px;
    height: 30px;
    margin-right: 10%;
    margin-bottom: 3%;
}

.tutor > h4 {
    margin-top: 3%;
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #C271FF;
}

.fafa-p {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-right: 15%;
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #C271FF;
}

.fafa {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}

.fa-star {
    display: flex;
    justify-content: center;
    margin-right: 5px;
}

.membership {
    background-color: #071629;
    margin-top: 0%;
}

.membership > h2 {
    padding-top: 5%;
    margin-right: 0%;
    text-align: center;
}

.free-member > h3 {
    color: #FFFFFF;
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
}

.free-member > p {
    color: #FFFFFF;
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    padding-top: 5%;
}

.free-member > img {
    margin-left: 20%;
    padding-left: 15%;
}

.mem-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-right: 10%;
}

.free-member {
    margin-top: 2%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
}

.membership > button {
    margin-top: 5%;
    margin-left: 43%;
    margin-bottom: 2%;
}

.faq {
    margin: 0;
    padding: 0;
}

.faq > h2 {
    color: #071629;
    
    margin-right: 0;
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 60px;
    font-weight: lighter;
    text-align: center;
    margin-top: 5%;
}

.first-faq {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.second-faq {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.faq-one > h3 {
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #071629;
    padding: 5% 10% 0% 18%;
}

.faq-two > h3 {
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #071629;
    padding: 5% 10% 0% 18%;
}

.faq-three > h3 {
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #071629;
    padding: 5% 10% 0% 18%;
}

.faq-four > h3 {
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #071629;
    padding: 5% 10% 0% 18%;
}

.faq-one > p {
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #071629;
    padding: 5% 10% 0% 18%;
    line-height: 1.8;
}

.faq-two > p {
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #071629;
    padding: 5% 10% 0% 18%;
    line-height: 1.8;
}

.faq-three > p {
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #071629;
    padding: 5% 10% 0% 18%;
    line-height: 1.8;
}

.faq-four > p {
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #071629;
    padding: 5% 10% 10% 18%;
    line-height: 1.8;
}

footer {
    background-color: #071629;
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 5%;
}

.footer-container {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}

.footer-section {
    color: #FFFFFF;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 3%;
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 12px;
    font-weight: lighter;
}

.footer-container img {
    width: 190px;
    height: auto;
}

.fa-brand {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    gap: 35px;
    font-size: 250%;
}