@font-face {
    font-family: 'Source Sans Pro'; 
    src: url(/source-sans-pro/SourceSansPro-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Ensure padding and borders do not extend beyond the elememt*/
}

html, body {
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

blockquote, button {
    font: inherit;
}

.background {
    background-image: url(/images/Object.png);
    background-size: cover;
    background-position: center center;
    width: 100%;
}

header {
    padding: 20px 20px 10px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 60px;
}

ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
}

h1 {
    font-size: 120px;
    font-weight: bold;
    color: #FFF;
    margin-top: 150px;
}

.span {
    display: block;
    text-align: center;
    width: 100%;
}

.span-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
}

button {
    font-size: 14px;
    color: #FFF;
    background-color: #C271FF;
    width: 162px;
    height: 44px;
    border-radius: 22px;
    border: none;
    padding: 13px 22px;
    cursor: pointer;
    margin-top: 3%;
}

button:hover {
    background-color: hsla(274, 88%, 77%, 0.555);
    transform: scale(1.05);
}

h2 {
    color: #FFF;
    font-weight: lighter;
    font-size: 32px;
    text-align: center;
    margin-top: 10%;
}

.highlight {
    color: #C271FF;
    font-weight: bold;
    font-size: 32px;
}

.profiles {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 13%;
}

.profile {
    margin: 2%;
    width: 150px;
    height: 237px;
}

.profile > .radius {
    border-radius: 50%;
}

.profile > h3 {
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
}

.profile > p {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}

.qoutes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 15% 5% 15%;
    background-color: #C271FF;
}

blockquote {
    font-size: 22px;
    color: #FFF;
    font-weight: normal;
    text-align: left;
}

.person {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.presenter {
    color: #FFF;
    font-size: 22px;
    font-style: italic;
}

.tutorials > h2 {
    color: #071629;
    margin-top: 5%;
    text-align: center;
}

.tutorials > div {
    display: flex;
    justify-content: space-between;
    margin: 2% 10% -5%;
}

.video-cont {
    padding: 2%;
}

.video-cont > h3 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 3%;
    padding-left: 10px;
}

.video-cont > p {
    font-size: 14px;
    font-weight: lighter;
    color: #071629;
    padding-top: 3%;
    padding-left: 10px;
}

.tutor {
    display: flex;
    justify-content: flex-start;
    padding-left: 4%;
    padding-top: 3%;
}

.tutor > img {
    width: 30px;
    height: 30px;
}

.tutor > h4 {
    padding-left: 5%;
    padding-top: 3%;
    font-size: 14px;
    font-weight: bold;
    color: #C271FF;
}

.fafa-p {
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-top: 3%;
}

.fafa-p > p {
    font-size: 14px;
    font-weight: bold;
    color: #C271FF;
    padding-right: 15%;
}

.fafa {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}



.fa-star {
    display: flex;
    justify-content: center;
    margin-right: 5px;
}

.membership {
    background-color: #071629;
}

.membership > h2 {
    padding-top: 5%;
    text-align: center;
}

.mem-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-right: 10%;
}

.free-member {
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.free-member > img {
    margin-left: 20%;
}

.free-member > img {
    margin-left: 15%;
    padding-left: 15%;
}

.free-member > h3 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
}

.free-member > p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    padding-top: 5%;
}

.membership > button {
    margin-top: 5%;
    margin-left: 43%;
    margin-bottom: 5%;
}

.faq {
    margin: 0;
    padding: 0;
}

.faq > h2 {
    color: #071629;
    font-size: 60px;
    font-weight: lighter;
    text-align: center;
    margin-top: 5%;
}

.first-faq, .second-faq {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.faq-one > h3, 
.faq-two > h3,
.faq-three > h3,
.faq-four > h3 {
    font-size: 16px;
    font-weight: bold;
    color: #071629;
    padding: 5% 10% 0% 18%;
}

.faq-one > p,
.faq-two > p,
.faq-three > p,
.faq-four > p {
    font-size: 14px;
    font-weight: normal;
    color: #071629;
    padding: 5% 10% 0% 18%;
    line-height: 1.8;
    margin-bottom: 10%;
}

footer {
    background-color: #071629;
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 5%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}

.footer-section {
    color: #FFFFFF;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 3%;
    font-size: 12px;
    font-weight: lighter;
}

.footer-container img {
    width: 190px;
    height: auto;
}

.fa-brand {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    gap: 35px;
    font-size: 250%;
}